<div class="full-page">
    <div class="patients-top" style="display: flex;
    align-content: space-between;">
        <data-control [column]="search"></data-control>
        <button mat-mini-fab  color="accent" (click)="addPatient()"><mat-icon>add</mat-icon></button>
    </div>

    <div class="grow-item">
        <!-- <mat-nav-list #shoes >
            <mat-list-item *ngFor="let p of patientsSettings.items" >
              {{p.name.value}}
              <button mat-icon-button (click)="openRideDialog(p)"><mat-icon>drive_eta</mat-icon></button>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-nav-list> -->
      
        <data-grid class="patients-center" [settings]="patientsSettings"></data-grid>
    </div>
</div>