<div class="full-page">
    <h3>Patient{{ args.pid.length > 0 ? ": "+this.p.name.value : " (New)" }}</h3>
    <div class="header">
    </div>
    <div class="grow-item">
        <data-area [settings]="areaSettings"></data-area>
    </div>
    <div class="footer">
        <button mat-raised-button color="accent" (click)="save()">Save</button>
        <button mat-raised-button color="accent" (click)="contacts()">Contacts ({{ contactsCount }})</button>
        <button mat-raised-button color="accent" (click)="sendMessage()">Send Message</button>
    </div>
</div>