<div class="full-page">
    <div class="header">
        <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-between;">
            <div *ngIf="r && !r.isNew()"
                style="display:flex;flex-direction: column;flex-grow: 1;align-content: center;">
                <span>
                    <h3>Edit Ride ({{ r.status.value.id }}) For: <span>{{ p&&p.name?p.name.value:'(loading..)' }}</span>
                    </h3>
                </span>
            </div>
            <div *ngIf="r && r.isNew()">
                <h3><span>Add New Ride For: <span *ngIf="p&&p.name">{{ p.name.value }}</span></span></h3>
            </div>
            <button mat-icon-button mat-dialog-close title="Close" style="justify-content: flex-end" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div class="grow-item">
        <data-area *ngIf="this.dataArea" [settings]="this.dataArea"></data-area>
    </div>

    <div class="footer">
        <hr>
        <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-between;">
            <button mat-raised-button color="primary" (click)="openPatientContacts()">Patient Contacts</button>
            <button *ngIf="r&&!r.isInDriving()" mat-raised-button color="primary" (click)="swapLocations()">Swap
                Locations</button>
            <button mat-raised-button color="accent" (click)="save()">Save</button>
        </div>
    </div>
</div>