<div class="full-page">
    <div class="header">
        <h3 *ngIf="r && !r.isNew()">Edit Ride ({{ r.status.value.id }})</h3>
        <h3 *ngIf="p && r && r.isNew()">Add New Ride For: {{ p.name.value }}</h3>
    </div>
    <div class="grow-item">
        <data-area *ngIf="this.dataArea" [settings]="this.dataArea"></data-area>
    </div>
    <div class="footer">
        <hr>
        <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-between;">
            <button mat-raised-button color="acceny" (click)="openPatientContacts()">Patient Contacts</button>
            <button mat-raised-button color="accent" (click)="save()">Save</button>
        </div>
    </div>
</div>