<div class="full-page">
    <div class="header">
        <h2>Rides: {{ fromName }} to {{ toName }}</h2>
    </div>
    <div>
        <data-area [settings]="driverArea"></data-area>
        Selected Driver Seats: <strong>{{ driverSeats }}</strong>
    </div>
    <mat-label *ngIf="!(selectedPassengers <= driverSeats)">Selected Passengers: <span style="color: red;">{{ selectedPassengers }}</span></mat-label>
    <mat-label *ngIf="selectedPassengers <= driverSeats">Selected Passengers: <span style="color: green;">{{ selectedPassengers }}</span></mat-label>
    <mat-divider></mat-divider>
    <div style="color: red;" *ngIf="selectedPassengers > 0 && driverSeats > 0 && driverSeats >= selectedPassengers">
        Pickup Time: <input [(ngModel)]="selectedPickupTime" #pickup required type="time">
        <button mat-raised-button color="accent"
            *ngIf="selectedPickupTime && selectedPickupTime.length > 0 && (!(selectedPickupTime === '00:00'))"
            (click)="setDriver()">Set Driver</button>
    </div>
    <mat-divider></mat-divider>
    <div class="grow-item">
        <!-- <data-grid *ngIf="grid" [settings]="grid"></data-grid> -->
        <table *ngIf="rides && rides.length > 0">
            <tr>
                <td></td><!-- menu -->
                <td></td><!-- cbx -->
                <th>Driver</th>
                <th>Seats</th>
                <th>Status</th>
                <th>Visit Time</th>
                <th>Passengers</th>
                <th>Patient</th>
            </tr>
            <tr *ngFor="let r of rides">
                <td>
                    <!-- *ngIf="menu && menu.items && menu.items.length > 0" -->
                    <button mat-flat-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <!-- <button>{{ r.status }}</button> -->
                        <button *ngIf="(r.w4Accept)" mat-menu-item
                            (click)="accept4Driver(r)">Set Accept For Driver</button>
                        <button *ngIf="(r.w4Start)" mat-menu-item (click)="start4Driver(r)">Set
                            Start For Driver</button>
                        <button *ngIf="(r.w4Pickup)" mat-menu-item
                            (click)="pickup4Driver(r)">Set Pickup For Driver</button>
                        <button *ngIf="(r.w4Arrived)" mat-menu-item
                            (click)="arrived4Driver(r)">Set Arrived For Driver</button>
                        <button *ngIf="(r.w4End)" mat-menu-item (click)="end4Driver(r)">Set End
                            For Driver</button>
                            <button *ngIf="r.driverId && r.driverId.length > 0" mat-menu-item
                                (click)="removeDriver(r)">Remove Driver</button>
                            <hr>
                            <button mat-menu-item (click)="editRide(r)">
                                <mat-icon>edit</mat-icon>
                                <label>Edit Ride</label>
                            </button>
                            <button mat-menu-item *ngIf="!(r.driverId && r.driverId.length > 0) && r.passengers > 1" (click)="splitRide(r)">
                                <mat-icon>splitscreen</mat-icon>
                                <label>Split Ride</label>
                            </button>
                            <!-- <hr> -->
                    </mat-menu>
                </td>
                <td>
                    <mat-checkbox
                        *ngIf="(!(r.driverId && r.driverId.length > 0)) &&  (r.selected || (driverSeats > selectedPassengers && driverSeats >= r.passengers))"
                        [(ngModel)]="r.selected" (change)="selectionRowChanged(r)"></mat-checkbox>
                    <!-- <mat-checkbox *ngIf="r.driver.length == 0" [(ngModel)]="r.selected" (change)="selectionRowChanged(r)"></mat-checkbox> -->
                </td>
                <!-- <td>{{ r.from }}</td>
                <td>{{ r.to }}</td> -->
                <td>{{ r.driver }}</td>
                <td>{{ r.freeSeats > 0?r.freeSeats : '' }}</td>
                <td>{{ r.status.id }}</td>
                <td>{{ r.visitTime }}</td>
                <td>{{ r.passengers }}</td>
                <td>{{ r.patient }}</td>
            </tr>
        </table>
    </div>
    <div class="footer">
    </div>
</div>