<style>
    table {
        width: 100%;
    }

    td {
        border-bottom: 1px solid lightblue;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="full-page">
    <div>
        <table style="width: 100%;">
            <tr>
                <td>
                    <div style="display:flex;">
                        <button style="height: 40px;" mat-raised-button color="primary" (click)="prevDay()">-</button>
                        <data-control [column]="params.date" title='day: {{params.date.getDayOfWeek() + 1}}'>
                        </data-control>
                        <button style="height: 40px;" mat-raised-button color="primary" (click)="nextDay()">+</button>
                        <button mat-mini-fab title="Refresh" (click)="refresh()" color="primary"
                            title="{{ clientLastRefreshDate | date: 'HH:mm' }}">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                    <div>
                        <mat-expansion-panel [expanded]="params.fid.value || params.tid.value">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Last Retrieved: {{ clientLastRefreshDate | date: 'HH:mm' }}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <data-control [column]="params.fid"></data-control>
                            <data-control [column]="params.tid"></data-control>
                        </mat-expansion-panel>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="grow-item">
        <h3>Register to new rides</h3>
        <span *ngIf="(!(ridesToRegister)) || (ridesToRegister.length == 0)">No rides for now</span>
        <table *ngIf="ridesToRegister && (ridesToRegister.length > 0)" style="width: 100%">
            <tr *ngFor="let r of ridesToRegister">
                <table style="width: 100%;padding: 10px;">
                    <tr>
                        <td>From: <i>{{ r.from }}</i></td>
                        <td rowspan="3">
                            <table *ngIf="!r.isRegistered" style="width: 100%;">
                                <tr *ngIf="this.params.date.value>=this.todayMidnigth">
                                    <button class="mat-raised-button" (click)="register(r)">Register</button>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>To: <i>{{ r.to }}</i></td>
                    </tr>
                    <tr>
                        <td>Pickup: {{ r.pickupTime }}</td>
                    </tr>
                    <tr>
                        <td>rid: {{ r.rid }}</td>
                    </tr>
                    <tr>
                        <td>rrid: {{ r.rrid }}</td>
                    </tr>
                    <tr>
                        <td>reason: {{ r.reason }}</td>
                    </tr>
                </table>
            </tr>
        </table>
    </div>

    <div class="grow-item">
        <h3>Rides You Registered {{ rides && (rides.length > 0)? "(contact u soon)" :"" }}</h3>
        <span *ngIf="(!(rides)) || (rides.length == 0)">TX! You didn't registered yet</span>
        <table *ngIf="rides && (rides.length > 0)" style="width: 100%">
            <tr *ngFor="let r of rides">
                <table style="width: 100%;padding: 10px;">
                    <tr>
                        <td>From: <i>{{ r.from }}</i></td>
                        <td rowspan="4">
                            <table *ngIf="r.isRegistered" style="width: 100%;">
                                <tr *ngIf="this.params.date.value >= this.todayMidnigth">
                                    <button class="mat-raised-button" (click)="unregister(r)">Unregister</button>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>To: <i>{{ r.to }}</i></td>
                    </tr>
                    <tr>
                        <td>Free Seats: {{ r.dPass }}</td>
                    </tr>
                    <tr>
                        <td>I Be there: {{ r.dFromHour }} - {{ r.dToHour }}</td>
                    </tr>
                    <tr>
                        <td>Remark: <u>{{ r.dRemark }}</u> </td>
                    </tr>
                    <tr>
                        <td>rid: {{ r.rid }}</td>
                    </tr>
                    <tr>
                        <td>rrid: {{ r.rrid }}</td>
                    </tr>
                </table>
            </tr>
        </table>
    </div>

</div>