<style>
    table {
        width: 100%;
    }

    td {
        /* border-bottom: 1px solid lightblue; */
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="full-page">
    <div>
        <table style="width: 100%;">
            <tr>
                <td>
                    <div style="display:flex;">
                        <button style="height: 40px;" mat-raised-button color="primary" (click)="prevDay()">-</button>
                        <data-control [column]="params.date" title='day: {{params.date.getDayOfWeek() + 1}}'>
                        </data-control>
                        <button style="height: 40px;" mat-raised-button color="primary" (click)="nextDay()">+</button>
                        <button mat-mini-fab title="Refresh" (click)="refresh()" color="primary"
                            title="{{ clientLastRefreshDate | date: 'HH:mm' }}">
                            <mat-icon>refresh</mat-icon>
                        </button>
                    </div>
                    <div style="display:flex;">
                        <span style="width: 40px;"></span>
                        <data-control [column]="params.fh" title="From when you can"></data-control>
                        <data-control [column]="params.th" title="Till when you can"></data-control>
                    </div>
                    <div>
                        <!-- <span>{{(params.fid.value && params.fid.value.length > 0?'true':'false')}}</span>
                        <span>{{(params.tid.value && params.tid.value.length > 0?'true':'false')}}</span> -->
                        <mat-expansion-panel
                            [expanded]="(params.fid.value && params.fid.value.length > 0) || (params.tid.value && params.tid.value.length > 0)">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Last Retrieved: {{ clientLastRefreshDate | date: 'HH:mm' }}
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <data-control [column]="params.fid"></data-control>
                            <data-control [column]="params.tid"></data-control>
                        </mat-expansion-panel>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <div class="grow-item">
        <h3>Register to new rides</h3>
        <span *ngIf="(!(ridesToRegister)) || (ridesToRegister.length == 0)">No rides for now</span>
        <table *ngIf="ridesToRegister && (ridesToRegister.length > 0)" style="width: 100%">
            <tr *ngFor="let r of ridesToRegister">
                <mat-card>
                    <div style="display:flex;flex-direction: column;">
                        <td>From: <i> <strong>{{ r.from }}</strong> </i></td>
                        <td>To: <i>{{ r.to }}</i></td>
                        <strong>{{ r.whenPickup }}</strong>
                        <button style="margin-top: 10px;" class="mat-raised-button"
                            (click)="register(r)">Register</button>
                    </div>
                    <!-- <div style="display:flex;flex-direction: column;">
                        <button class="mat-raised-button" (click)="register(r)">Register</button>
                    </div> -->
                </mat-card>
            </tr>
        </table>
    </div>

    <div class="grow-item">
        <h3>Rides You Registered {{ rides && (rides.length > 0)? "(contact u soon)" :"" }}</h3>
        <span *ngIf="(!(rides)) || (rides.length == 0)">TX! You didn't registered yet</span>
        <table *ngIf="rides && (rides.length > 0)" style="width: 100%">
            <tr *ngFor="let r of rides">
                <mat-card>
                    <div style="display:flex;flex-direction: column;">
                        <td>From: <i><strong>{{ r.from }}</strong></i></td>
                        <td>To: <i>{{ r.to }}</i></td>
                        <td>Free Seats: {{ r.dPass }}</td>
                        <td>You Be there: <strong>{{ r.dFromHour }} - {{ r.dToHour }}</strong></td>
                        <td *ngIf="r.dRemark && r.dRemark.length > 0">Remark: <u>{{ r.dRemark }}</u> </td>
                        <td>Reason: {{ r.reason }}</td>
                        <button style="margin-top: 10px;" class="mat-raised-button"
                            (click)="unregister(r)">Unregister</button>
                    </div>
                </mat-card>
            </tr>
        </table>
    </div>

</div>