<style>
    table {
        width: 100%;
    }

    td {
        border-bottom: 1px solid lightblue;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="full-page">
    <div>
        <table style="width: 100%;">
            <tr>
                <td>
                    <data-area [settings]="toolbar"></data-area>
                </td>
                <td style="padding-left: 15px;">
                    <table style="width: 100%;">
                        <tr>
                            <td>
                                <button mat-mini-fab title="Refresh" (click)="refresh()" color="primary">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span style="padding-left: 15px;">Refreshed: {{ clientLastRefreshDate | date: 'HH:mm'
                                    }}</span>
                            </td>
                        </tr>
                    </table>
                </td>

            </tr>
            <!-- <tr>
            <td>
                <mat-checkbox [checked]="groupSameLocations" (change)="onGroupSameLocations()">Group Same Locations
          </mat-checkbox>
            </td>
        </tr> -->
        </table>
    </div>
    
    <div class="grow-item">
        <h3>Register to new rides</h3>
        <span *ngIf="(!(ridesToRegister)) || (ridesToRegister.length == 0)">No rides for now</span>
        <table *ngIf="ridesToRegister && (ridesToRegister.length > 0)" style="width: 100%">
            <tr *ngFor="let r of ridesToRegister">
                <table style="width: 100%;padding: 10px;">
                    <tr>
                        <td>from: {{ r.from }}</td>
                        <td rowspan="3">
                            <table *ngIf="!r.isRegistered" style="width: 100%;">
                                <tr>
                                    <button class="mat-raised-button" (click)="register(r)">Register</button>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>to: {{ r.to }}</td>
                    </tr>
                    <tr>
                        <td>pass(s): {{ r.pass }}</td>
                    </tr>
                </table>
            </tr>
        </table>
    </div>

    <div class="grow-item">
        <h3>Rides You Registered {{ rides && (rides.length > 0)? "(contact u soon)" :"" }}</h3>
        <span *ngIf="(!(rides)) || (rides.length == 0)">You didn't registered yet</span>
        <table *ngIf="rides && (rides.length > 0)" style="width: 100%">
            <tr *ngFor="let r of rides">
                <table style="width: 100%;padding: 10px;">
                    <tr>
                        <td>date: {{ r.date | date: 'dd/MM/yyyy' }}</td></tr>
                    <tr>
                        <td>from: {{ r.from }}</td>
                        <td rowspan="3">
                            <table *ngIf="r.isRegistered" style="width: 100%;">
                                <tr>
                                    <button class="mat-raised-button" (click)="unregister(r)">Unregister</button>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>to: {{ r.to }}</td>
                    </tr>
                    <tr>
                        <td>seats(s): {{ r.dPass }}</td>
                    </tr>
                    <tr>
                        <td>avaliable: {{ r.dFromHour | date: 'HH:mm' }} - {{ r.dToHour | date: 'HH:mm' }}</td></tr>
                    <tr>
                </table>
            </tr>
        </table>
    </div>

</div>