<div class="full-page">
    <div class="hedaer">
        <div style="display:flex;flex-direction: column;flex-grow: 1;justify-content: space-between;">
            <h3>Set The Problem</h3>
            <data-area [settings]="options"></data-area>
        </div>
    </div>

    <div class="grow-item">
        <h3>Your Comment:</h3>
        <textarea [(ngModel)]="comment" rows="10" cols="30"></textarea>
    </div>
    
    <div class="footer">
        <button mat-raised-button color="accent" (click)="save()">Save</button>
    </div>
</div>
