<div class="full-page">
    <!-- <data-grid *ngIf="grid" class="grow-item" [settings]="grid"></data-grid> -->
    <div class="header">
        <u>
            <!-- : {{this.params.date.value|date:'dd.MM.yyyy'}}) -->
            <h3>Set Driver ({{this.params.from.value && this.params.to.value? this.params.from.value + ' > ' +
                this.params.to.value: 'searching..'}})</h3>
        </u>
        <input type="text" title="Search for driver" [(ngModel)]="serach" (change)="filter()">
    </div>
    <div class="grow-item">
        <table style="width: 100%;">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Home</th>
                <th title="Days From Last Ride (any)">Last-Ride</th>
                <th>Last-Call</th>
                <th>freeSeats</th>
                <th>Reason</th>
            </tr>
            <tr *ngFor="let d of drivers" (dblclick)="onDriverSelected(d)" title="Double Click To Select">
                <td>
                    <!-- *ngIf="menu && menu.items && menu.items.length > 0" -->
                    <button mat-flat-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item *ngIf="d.reason && d.reason.trim().toLowerCase().includes('register')" (click)="showRegisterRide(d)">
                            <mat-icon>directions_bus_filled</mat-icon>
                            <label>Show Register Ride</label>
                        </button>
                        <button mat-menu-item (click)="showDriverRides(d)">
                            <mat-icon>directions_bus_filled</mat-icon>
                            <label>Show Driver Rides</label>
                        </button>
                        <button mat-menu-item (click)="openCallDocumentationDialog(d)">
                            <mat-icon>tty</mat-icon>
                            <label>Show Call Documentation</label></button>
                    </mat-menu>
                </td>
                <td>{{ d.name }}</td>
                <td>{{ d.mobile }}</td>
                <td>{{ d.home }}</td>
                <td>{{ d.lastRideDays }}</td>
                <td>{{ d.lastCallDays}}</td>
                <td>{{ d.freeSeats}} {{ (d.seats === d.freeSeats)? '': '/' + d.seats }}</td>
                <td>{{ d.reason}}</td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <hr>
        <span>Found: {{ drivers.length }}</span>
    </div>
</div>