<div class="full-page">
    <div class="header">
        <u>
            <h3>Set Driver</h3>
        </u>
        <!-- <table style="width: 100%;">
            <tr>
                <th>name</th>
                <th>mobile</th>
                <th>home</th>
                <th>lastRideDays</th>
                <th>lastCallDays</th>
                <th>reason</th>
            </tr>
        </table> -->
        <!-- <hr> -->
    </div>
    <div class="grow-item">
        <table style="width: 100%;">
            <tr>
                <th>name</th>
                <th>mobile</th>
                <th>home</th>
                <th>lastRideDays</th>
                <th>lastCallDays</th>
                <th>reason</th>
            </tr>
            <tr *ngFor="let d of drivers" (dblclick)="onDriverSelected(d)">
                <td>{{ d.name }}</td>
                <td>{{ d.mobile }}</td>
                <td>{{ d.home }}</td>
                <td>{{ d.lastRideDays }}</td>
                <td>{{ d.lastCallDays}}</td>
                <td>
                    <tr *ngFor="let rsn of d.reasons">
                        <td>{{ rsn }}</td>
                    </tr>
                </td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <hr>
        <span>Found: {{ drivers.length }}</span>
    </div>
</div>