<h3 matDialogHeader>{{args.title}}</h3>

<mat-dialog-content>
  <div class="help-text" *ngIf="args.helpText">
    {{args.helpText}}
  </div>
  <data-area [settings]="area"> </data-area>
</mat-dialog-content>
<mat-dialog-actions>

  <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-between;">
  <button mat-raised-button *ngFor="let b of args.buttons" (click)="buttonClick(b,$event)">
    {{b.text}}
  </button>
  <button type="button" mat-raised-button color="warning" (click)="this.dialogRef.close()" >
    Cancel
  </button>

  <button mat-raised-button color="accent" (click)="confirm()">
    Ok
  </button>
</div>
</mat-dialog-actions>