<div class="full-page">
    <div class="header">
        <div style="display:flex;flex-direction: row;flex-grow: 1;">
            <button style="height: 40px;" mat-raised-button color="primary" (click)="prevDay()"
                title="Show Prev Day">-</button>
            <data-control [column]="params.date"></data-control>
            <button style="height: 40px;" mat-raised-button color="primary" (click)="nextDay()"
                title="Show Next Day">+</button>
            <button mat-mini-fab title="Refresh" (click)="refresh()" color="primary" style="align-items: flex-end;">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>
    </div>
    <div class="grow-item">
        <data-grid [settings]="ridesSettings"></data-grid>
    </div>
    <div class="footer"></div>
</div>>