<div class="full-page">
    <div class="header">
        <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-between;">
            <div style="display:flex;flex-direction: column;flex-grow: 1;justify-content: space-between;">
                <h3>Select Prefered Borders</h3>
                <!-- <h3>{{ context.driver? 'Yours' : `${d.name.value}` }} Select Prefered Borders</h3> -->
                <data-area [settings]="areaSettings"></data-area>
            </div>
            <button mat-icon-button mat-dialog-close title="Close" style="justify-content: flex-end" (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
    <div class="grow-item">
        <table style="width: 100%;">
            <tr *ngFor="let b of borders" style="border: 1px solid black;">
                <div *ngIf="b.ivisible">
                    <td style="width: 90%;">
                        <mat-checkbox [(ngModel)]="b.selected" (change)="onSelected()">{{ b.name }}</mat-checkbox>
                    </td>
                </div>
            </tr>
        </table>
    </div>
    <div class="footer">
        <hr>
        <div style="display:flex;flex-direction: row;flex-grow: 1;justify-content: space-between;">
            <mat-label style="padding: 5px; color:blue">selected: {{ selectedCount }}</mat-label>
            <button mat-raised-button color="accent" (click)="saveSelected()">Save</button>
        </div>
    </div>
</div>