<style>
    table {
        width: 100%;
    }

    td {
        border-bottom: 1px solid lightblue;
    }

    table.center {
        margin-left: auto;
        margin-right: auto;
    }
</style>

<div class="full-page">
    <div class="header">

        <div style="display:flex;flex-direction: row;flex-grow: 1;">
            <button style="height: 40px;" mat-raised-button color="primary" (click)="prevDay()">-</button>
            <data-control [column]="params.date"></data-control>
            <button style="height: 40px;" mat-raised-button color="primary" (click)="nextDay()">+</button>
            <button mat-mini-fab title="Refresh" (click)="refresh()" color="primary" style="padding:5px;"
                title="{{ clientLastRefreshDate | date: 'HH:mm' }}">
                <mat-icon>refresh</mat-icon>
            </button>
            <button mat-mini-fab title="Show Rides History For Selected Date" (click)="history()"
                color="{{ params.historyChanged.value ? 'accent':'primary' }}" style="-ms-flex-align: end"
                title="{{ clientLastRefreshDate | date: 'HH:mm' }}">
                <mat-icon>history</mat-icon>
            </button>
        </div>
        <div>
            <!-- <span style="padding-left: 15px;">Last Retrieved: {{ clientLastRefreshDate | date:
                'HH:mm'
                }}</span> -->
            <mat-expansion-panel [expanded]="params.fid.value || params.tid.value">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Last Retrieved: {{ clientLastRefreshDate | date: 'HH:mm' }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <data-control [column]="params.fid"></data-control>
                <data-control [column]="params.tid"></data-control>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="grow-item">
        <table style="width: 100%">
            <tr>
                <th><u>From</u></th>
                <th><u>To</u></th>
                <th><u>Pass</u></th>
                <th><u>Rides</u></th>
                <th><u>w4-Driver</u></th>
                <th><u>w4-Accept</u></th>
                <th><u>inProgress</u></th>
                <th><u>#Register</u></th>
            </tr>
            <!-- <tr ng-repeat="r in rides | orderBy:'-age'"></tr> -->
            <tr *ngFor="let r of rides">
                <td *ngIf="r.fromIsBorder"><strong> {{ r.from }} </strong></td>
                <td *ngIf="!r.fromIsBorder">{{ r.from }}</td>
                <td *ngIf="r.toIsBorder"><strong> {{ r.to }} </strong></td>
                <td *ngIf="!r.toIsBorder">{{ r.to }}</td>
                <td>{{ r.passengers }}</td>
                <td *ngIf="r.ridesCount == 0">{{ r.ridesCount }}</td>
                <td *ngIf="r.ridesCount > 0"><button (click)="openSetDriver(r)"><u>{{ r.ridesCount }}</u></button></td>
                <td>{{ r.w4Driver }}</td>
                <td>{{ r.w4Accept }}</td>
                <td>{{ r.inProgress }}</td>
                <td>{{ r.registers }}</td>
            </tr>
        </table>

    </div>
    <div class="footer">
        <hr>
        Found: {{ rides && rides.length > 0? rides.length : 0 }} rows
    </div>