
<div class="usher-header"></div>

<div class="usher-main">

    <div class="usher-drivers">
        <h3>מתנדבים</h3>
        <data-grid [settings]="driversSettings"></data-grid>
    </div>

    <div class="usher-seperator">
        <button (click)="assign()">שייך</button>
        <button (click)="retrieve()">רענן</button>
    </div>
    
    <div class="usher-patients">
        <h3>חולים</h3>
        <data-grid [settings]="patientsSettings"></data-grid>
    </div>

</div>

<div class="usher-footer"></div>
