
<div class="usher-header"></div>

<div class="usher-main">

    <div class="usher-drivers">
        <h3>Volunteers</h3>
        <data-grid [settings]="driversSettings"></data-grid>
    </div>

    <div class="usher-seperator">
        <button (click)="assign()">Assign</button>
        <button (click)="retrieve()">Refresh</button>
    </div>
    
    <div class="usher-rides">
        <h3>Rides</h3>
        <data-grid [settings]="ridesSettings"></data-grid>
    </div>

</div>

<div class="usher-footer"></div>
