
  <div class="full-page">
  <div class="grow-item">
    <div mat-dialog-content class="center-screen">
    <h4>Rides Organizer Application</h4>
    <h2>Welcome {{context.isSignedIn()?"("+context.user.roles.join()+")":" - Please Sign In"}}</h2>

    <h2>Our News..</h2>

    <div>
    <strong> <p style="color: green;"> FOR PEACE AND RECONCILIATION</p></strong>
  </div>
  <div>
    <p style="color: green;"><strong><h1>HUMANITY BEFORE POLITICS</h1></strong></p>
  </div>
  <div>
    <img src="assets/logo.png">
  </div>

  </div>
</div>
</div>