<div class="full-page">
    <div class="header">
        <table style="width: 100%;">
            <tr>
                <td><button mat-mini-fab title="Refresh" (click)="refresh()" color="primary">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </td>
                <td>
                    <a href="tel:054-6687991">
                    <button mat-flat-button style="color: blue;background-color: transparent;">
                        <u>{{ 'Call Avishai' }}</u>
                        <mat-icon>call</mat-icon>
                    </button>
                </a>
                </td>
                <td><button mat-flat-button style="color: blue;background-color: transparent;"
                        (click)="sendWapp('+972546687991')">
                        <u>{{ 'Send Avishai' }}</u>
                        <mat-icon>send</mat-icon>
                    </button>
                </td>
            </tr>
        </table>
        <hr style="height:2px;border-width:0;color:gray;background-color:gray">
    </div>
    <div class="grow-item">
        <h3 *ngIf="(!(rides && rides.length > 0))">TX! You have no rides Today.</h3>
        <table *ngIf="rides && rides.length > 0" style="width: 100%;">
            <tr *ngFor="let r of rides">
                <mat-card>
                    <div style="display:flex;flex-direction: column;">
                        <td> <u>{{ r.date | date: 'dd.MM.yyyy' }}</u> </td>
                        <td style="display:flex;flex-direction: row;justify-content: start;">
                            <button mat-flat-button style="color: blue;background-color: transparent;"
                                (click)="openWaze(r.from)">
                                <mat-icon>door_sliding</mat-icon>
                                <u>{{ r.from + ' (' + (r.pickupTime)+ ')'}}</u>
                            </button>
                            <h4>{{ ' > ' }}</h4>
                            <button mat-flat-button style="color: blue;background-color: transparent;"
                                (click)="openWaze(r.to)">
                                <mat-icon>place</mat-icon>
                                <u>{{ r.to }}</u>
                            </button>
                        </td>
                        <td>
                            <a href="tel:{{r.pMobile}}">
                                <button mat-flat-button style="color: blue;background-color: transparent;"
                                    title="{{r.pName }}">
                                    <mat-icon>call</mat-icon>
                                    <u>{{ r.pName | slice:0:r.contactsCount > 0 || r.passengers >1?20:30 }}
                                        {{ r.pName&&r.pName.length > (r.contactsCount > 0 || r.passengers
                                        >1?20:30)?'..':''
                                        }}
                                        {{ r.age > 0 ? '(age: '+r.age+')': '' }}
                                    </u>
                                </button>
                            </a>
                            <mat-icon *ngFor="let i of r.equipment">
                                {{ i }}
                            </mat-icon>
                            <button *ngIf="r.contactsCount > 0 || r.passengers >1" mat-flat-button
                                style="color: blue;background-color: transparent;" (click)="openContacts(r)"><u>Pass:
                                    {{r.passengers}}</u>
                            </button>
                        </td>
                        <td *ngIf="r.dRemark&&r.dRemark.length > 0">
                            <mat-icon>info</mat-icon>
                            <strong style="color: red;"> {{'*'+r.dRemark+'*' }}</strong>
                        </td>
                        <!-- <td> -->
                        <button *ngIf="r.w4Accept" mat-raised-button color="primary" (click)="accept(r.rId)">
                            Accept
                        </button>
                        <button *ngIf="r.w4Start&&((r.date|date:'dd.MM.yyyy')==(this.today|date:'dd.MM.yyyy'))"
                            mat-raised-button color="primary" (click)="drive(r)">
                            Start
                        </button>
                        <button *ngIf="r.w4Pickup" mat-raised-button color="primary" (click)="pickup(r)">
                            Pickup
                        </button>
                        <button *ngIf="r.w4Arrived" mat-raised-button color="primary" (click)="arrived(r)">
                            Arrived
                        </button>
                        <!-- </td> -->
                    </div>
                </mat-card>
            </tr>
        </table>
    </div>
    <div class="footer">
    </div>
</div>